* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/fundo.png);
  background-repeat: no-repeat;       
  background-size: cover;   
  font-family: 'Georgia', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #3e3e3e;
}

.container {
  text-align: center;
  background-color: #ffffffcc;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #ccc;
}

h1 {
  font-size: 3rem;
  color: #6b705c;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  color: #a5a58d;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: #a5a58d;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #6b705c;
}
